<!DOCTYPE html>
<html>
<head>
	<title>shady_ben_ami</title>
</head>
<body>
	<h1>Welcome!</h1>

	<form>
		<input type="text" name="fake_signin" placeholder="Username">
		<input type="text" name="fake_password1" placeholder="Create Password">
		<input type="submit" value="Submit">
	</form>

	<form>
		<input type="text" name="fake_login" placeholder="Username">
		<input type="text" name="fake_password" placeholder="Password">
		<input type="submit" value="Submit">
	</form>

	<a href = "Button.html">Continue</a>
</body>
</html>